<!DOCTYPE html>
<html>
  <head>
    <title>Denote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Playfair+Display:400', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <script id="bootstrap-current-user" type="text/javascript">
    <% if signed_in? %>
    	window.currentUser = <%= render("api/users/user.json.jbuilder",
    		user: current_user).html_safe %>
    <% end %>
  </script>

  <body>
    <%= yield %>
  </body>
</html>
